* {
  background-color: aliceblue;
  width: auto;
}
.test {
  padding: 50px 500px;
  align-content: space-around;
  justify-content: space-around;
  background-color: aliceblue;
  color: black;
}
.count {
  display: flex;
  justify-content: space-around;
  color: blue;
}

.step {
  display: flex;
  padding: auto;
  justify-content: space-around;
  color: blue;
}

#count {
  background-color: rgb(82, 82, 243);
  border-radius: 2px;
  padding: 5px 5px;
  color: #fff;
}
.btn1 {
  font-size: larger;
  background-color: rgb(23, 23, 23);
  color: red;
}
.btn2 {
  font-size: larger;
  background-color: black;
  color: green;
}
